* {
	box-sizing: border-box;
}

.h1-style1 {
	font-size: 30px;
}
.p1-style {
	font-size: 10px;
}

.style1 {
    float: left;
}

.spanstyle1 {
	text-decoration: underline #666666c7;
}


.astyle {
    color: #3751e2;
}

.style3 {
    float: right;
		margin-bottom: 15px;
}


.row:after {
	content: "";
  display: table;
  clear: both;
}
.row {
	background-color: #e7e6e7c7;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-left: 10%;
	margin-right: 10%;
}

/* Create columns*/
.column {
	float: left;
  padding: 10px;
  height: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Left and right column */
.column.side1 {
  width: 90%;
  background-color:#ecebec;
	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
	overflow: scroll;
	margin-left: 20px;
}


/* Left and right column */
.column.side2 {
  width: 90%;
  background-color:#ecebec;
	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
	margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.contact:link, .contact:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	border-radius: 30px;
}

.contact:hover, .contact:active {
  background-color: red;
}

/* responsive  */
@media screen and (min-width: 900px) {
	.column.side1 {
    width: 40%;
		margin-left: 50px;
  }
  .column.side2 {
    width: 40%;
		margin-left: 50px;
  }

}