* {
	box-sizing: border-box;
}

.clear_fix::after {
  clear: both;
  display: table;
  content: "";
}

.main_wrapper {
  max-width: 1380px;
  margin-left: auto;
	margin-right: auto;
}

body,
h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
p {
  margin: 0;
}

.header_txt {
	font-size: 30px;
  margin: 20px auto;
}

.size_txt {
	font-size: 10px;
  margin: 20px auto;
}

.style4 {
  margin: 10px auto;

}

.underline_text {
  text-decoration: underline
}

.style1 {
  float: left;
}

.a_color {
  color: #3751e2;
}

.style3 {
  float: right;
	margin-bottom: 15px;
}

.row {
	background-color: #e7e6e7c7;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto 10px;
}

.column.side1 {
  background-color:#ecebec;
	text-align: center;
	overflow: scroll;
  margin: 20px auto;
}


.column.side2 {
  background-color:#ecebec;
	text-align: center;
  margin: 20px auto;
}


.contact:link, .contact:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	border-radius: 30px;
  margin: 20px auto;
}

.contact:hover, .contact:active {
  background-color: red;
}

@media screen and (min-width: 800px) {
	.child {
		width: 50%;
	}
	.child:nth-child(1) {
    float: right;
		margin-right: 10px;
	}
}